@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
}

header {
    background-color: #ffffff;
    text-align:left;
    border-bottom: 1px solid rgb(164, 202, 218);
    padding-top: 50px;
    padding-bottom: 10px;
    padding-left: 20%;
    font-size: 20px;
}

figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 2;
    background-color: rgb(226, 239, 245);
    height: 70%;
}

.ment {
    margin-top: 30px;
    text-align:center;
    margin-bottom: 150px;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: center; 
    width: 700px;
    height: 300px;
    background-color: rgb(226, 239, 245);
    margin-bottom: 100px;
    padding-bottom: 100px;
}

.image-container {
    flex: 0 0 auto;
    margin-right: 20px;
}

.image {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 30px;
}

.profile-info {
    width: 400px;
    height: 250px;
    border-radius: 8px;
    border: 3px solid #ddd;
    box-shadow: 0 4px 8px #4f5152b9;
    text-align:center;
    font-weight: 500;
    line-height: 2; 
    padding: 10px;
    background-color: rgb(255, 255, 255);
}

.link-email{
    color : black;
}

.link-button {
    font-size: 15px;
    color: #000000;
    padding-left: 3px;
    padding-right: 3px;
    text-decoration: none;
    transition: color 0.3s, border-bottom 0.3s, background-color 0.3s, transform 0.3s;
    border-radius: 4px; 
    border: 1px solid #011a2cb9;
    height: 10px; 
}

.link-button:hover {
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
    background-color: rgb(0, 0, 0); 
    transform: translateY(-2px); 
}

.link-button:active {
    transform: translateY(0); 
    background-color: #adadad; 
}

h2{
    text-align: center;
    color: white;
    margin-bottom: 20px;
}

.sec {
    padding-top: 30px;
    padding-bottom: 20px;
    align-items: center;
    background-color: #011a2cb9;
}

.todo-input {
    margin-left: 10%;
    width: 20%;
    padding: 5px 5px;
    border: 1px solid #ffffff;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
}

.content-input {
    width: 60%;
    padding: 5px;
    margin: 5px 5px;
    border: 1px solid #ffffff;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
}

.todo-input:focus, .content-input:focus {
    border-color: #999;
}

.todos-container {
    display: flex; 
    flex-wrap: wrap; 
    gap: 10px; 
    width: 100%;
}

.todo-item {
    display: flex;
    justify-content: space-between;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    width: 80%;
    height: 40px;
    margin-left: 10%;
    margin-top: 5px;
    font-size: 15px;
    color: #000000;
}

.delete-btn {
    background-color: #f84e4eb7; 
    padding: 10px 15px; 
    color: white;
    border: none;
    border-radius: 5px; 
    cursor: pointer;
    align-items: center;
    font-size: 14px; 
    font-weight: bold; 
    transition: background 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    display: inline-flex; 
    justify-content: center; 
}


.delete-btn:hover {
    background: #f81010b7;
    transform: scale(1.1); 
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15); 
}

.delete-btn:active {
    transform: scale(1); 
}

.todo-item:hover {
    background-color: #ddd;
}

footer {
    padding: 20px 0;
    text-align: center;
    background-color: #011a2cb9;
    color: rgb(0, 0, 0);
}

footer .inner {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
}

h3{
    border-top: 1px solid rgb(0, 0, 0);
    padding-top: 5px;
    font-size: 14px;
    line-height: 1.6;
}
footer .lower p {
    font-size: 14px;
    line-height: 1.6;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

